name: Demo
on: [push]

jobs:
  test:
    name: Demonstrate running github-hosted shell scripts

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Run say-hello script
      run: ./say-hello.sh
      shell: bash
